header{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 150px;
      }

      h1{
        font-size: 50px;
      }

      body{
        background-color: black;
        margin: 0;
        padding-top: 20px;
      }
      main{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }
      button {
        padding: 10px 105px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      .rockPaperSicssorsButtons button{
        padding: 50px 55px;
        background-color: white;
        margin: 0 25px 30px 25px;
        font-size: 40px;
      }
      .resetScoreButton{
        display: inline-block;
      }
      #resetScoreButton{
        padding: 13px 90px;
        font-size: 25px;
      }
      .autoPlayButton{
        display: inline-block;
      }
      #autoPlayButton{
        padding: 13px 90px;
        font-size: 25px;
      }
      button:hover {
        opacity: 0.8;
      }
      button:active{
        opacity: 0.7;
      }

      .back{
        font-size: larger;
      }

      .RPSHeader{
        display: inline-block;
        background-color: white;
        padding: 10px 95px;
        border-radius: 30px;
        margin-right: 248px;
      }

      .headerContent{
        display: flex;
        justify-content: space-between;
        align-items: top;
      }

      .RPSResults{
        background-color: white;
        display: inline-block;
        margin-bottom: 45px;
        padding: 0 50px 7px 50px;
        border-radius: 35px;
      }

      .RPSScore{ 
        font-size: 22px;
        font-weight: 550;
      }

      .RPSResult{
        font-size: 30px;
        font-weight: 600;
        width: 0;
      }

      .RPSResultActive{
        width: 500px;
        text-align: center;
        border-radius: 10px;
        padding: 0;
        margin-bottom: 10px;
      }

      .playerChoiceEmoji, .computerChoiceEmoji{
        font-size: 45px;
      }
